addons
backgrounds
bin
cache
cfg
/*.txt
data
/*.vbsp
download
downloadlists
downloads
fallbacks*
garrysmod*
html
lights.rad
logs
map.pack
maps
materials
media
models
modelsounds.cache
particles
resource
scenes
settings
sound
steam.inf
sv*

